{% extends 'mainsite/contact.html' %}
{% load i18n %}
{% load staticfiles %}
{% block about %}
<section class="bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid1" src="{% static 'mainsite/img/about/1.png'%}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">2011~</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                        Janggo System {% trans "설립" %}<br>
                                    {% trans "벤처기업 등록" %}<br>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid1" src="{% static 'mainsite/img/about/3.png'%}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>~2011</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                 Hyundai Mobis {% trans "거래시작" %}<br>
                                        1) C-EPS, R-EPS, EHPS Assembly : Performance / Endurance / Simulator EOL Tester {% trans "장비공급" %} <br>
                                        2) ABS, ESC, EPB, Calliper, Assembly : Performance / Endurance / Simulator EOL Tester {% trans "장비공급" %}  <br>
                                        3) C-EPS, R-EPS, ABS, ESC Motor : Performance / Endurance / Simulator EOL Tester {% trans "장비공급" %} <br>
                                        4) Head up Dispaly, Cluster, AVM : Performance / Endurance / Simulator Tester {% trans "장비공급" %}  <br>
                                        5) ACU, SMK, BCM, IBU : Performance / Endurance / Simulator Tester  {% trans "장비공급" %} <br>
                                        6) LDC, OBC, 48V Converter, BSA, BMS : Performance / Endurance / Simulator Tester {% trans "장비공급" %} <br>
                                        <br>
                                 Young shin {% trans "거래시작" %}
                                 <br> 1) EVP, MVP, E-MOP : Performance / Endurance / Simulator EOL Tester {% trans "장비공급" %} <br>
                                2) AT TM Valve Body, Engine & TM Oil Pump, Water Pump Performance / Endurance Tester {% trans "장비공급" %} <br>
                                3) Motor : Performance / Endurance Tester  {% trans "장비공급" %}
                                <br> <br>
                                Kamtec {% trans "거래시작" %}
                                <br>EWGA, EGR : Performance / Endurance / Simulator EOL Tester {% trans "장비공급" %}
                            </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid1" src="{% static 'mainsite/img/about/2.png'%}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012~2013</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Samsung Electrics {% trans "거래시작" %}
                                        <br>
                                        Taiyo Yuden {% trans "거래시작" %}
                                        <br> <br>
                                        S&T Motiv {% trans "거래시작" %} <br> R-EPS Motor, DC Motor : Performance / Endurance / Simulator Tester {% trans "장비공급" %}
                                    
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid1" src="{% static 'mainsite/img/about/4.png'%}" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                            </div>
                            <div class="timeline-body">
                                    <p class="text-muted">Mando Hella {% trans "거래시작" %} <br>Full Motor Simulator Tester {% trans "장비공급" %}<br><br>
                                        CTR {% trans "거래시작" %} <br> RWS Performance Tester {% trans "장비공급" %}<br><br>
                                        Janggo System R&D Center Open<br>
                                        Janggo System Home Page Open(www.jgkorea.co.kr)<br>
                                        </p>
                            </div>
                        </div>
                    </li>
                    <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid1" src="{% static 'mainsite/img/about/5.png'%}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">2015~2016</h4>
                                </div>
                                <div class="timeline-body">
                                        <p class="text-muted">Hyundai / Kia {% trans "업체등록" %} <br>R-EPS Motor Dynamometer {% trans "공급업체선정" %} 
                                                 Janggo System 인천 신사옥으로 이전<br><br>
                                                 Erae(구 Delphi) {% trans "거래시작" %} <br>
                                                 ABS, ESC Performance / Endurance / Valve Performance / Pump Performance Tester {% trans "장비공급" %}<br><br>
                                                 Hella(China) {% trans "거래시작" %} : Full Pump Simulator Tester {% trans "장비공급" %}<br><br>
                                                 Gates(Korea) {% trans "거래시작" %} : R-EPS Belt NVH Performance Tester {% trans "장비공급" %}<br>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                                <div class="timeline-image">
                                    <img class="rounded-circle img-fluid1" src="{% static 'mainsite/img/about/6.png'%}" alt="">
                                </div>
                                <div class="timeline-panel">
                                    <div class="timeline-heading">
                                        <h4>2017~2018</h4>
                                    </div>
                                    <div class="timeline-body">
                                        <p class="text-muted">Saint-Gobain(Korea) {% trans "거래시작" %} <br>
                                            Steering R-EPS Load Tester / R-EPS {% trans "부품" %} {% trans "파단시험기" %} Tester {% trans "장비공급" %}<br><br>
                                            Full Motor Simulator Tester {% trans "장비공급" %}<br><br>
                                            Korens {% trans "거래시작" %} <br>
                                            DC Motor Dynamometer / BSG(MHSG) Dynamometer Tester {% trans "장비공급" %}<br>
                                        </p>
                                    </div>
                                </div>
                            </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>2019
                                <br>update
                                <br>Soon</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}