{% extends 'mainsite/about.html' %}
{% load i18n %}
{% load staticfiles %}
{% block with %}
<section class="py-5" id="with" style="margin-bottom:4rem;">
    <marquee behavior="scroll">
    <div class="row2">
        <div class="row1">
            <div class=" col-sm-6" >
                <a href="http://www.ctrtech.co.kr/">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/ctr.png' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6">
                <a href="http://www.erae-tech.com/">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/erae.png' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6">
                <a href="#">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/gater.png' %}"
                        alt=""></a>
            </div> 
        </div>
        <div class="row1">
            <div class=" col-sm-6">
                <a href="http://www.hellerkorea.com/">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/hellr.jpg' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6">
                <a href="https://www.hyundai.com/kr/ko">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/hyundal.png' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6">
                <a href="https://www.kia.com/kr/main.html">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/kia.png' %}"
                        alt=""></a>
            </div>
        </div>
        <div class="row1">
            <div class=" col-sm-6">
                <a href="#">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/komtec.jpg' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6">
                <a href="http://www.korens.com/">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/korens.png' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6">
                <a href="https://www.mando.com/index.jsp">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/mando.png' %}"
                        alt=""></a>
            </div>
        </div>
        <div class="row1">
            <div class=" col-sm-6">
                <a href="#">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/mhe.png' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6" >
                <a href="http://www.mobis.co.kr/">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/mobis.png' %}"
                        alt=""></a>
            </div>
            <div class=" col-sm-6">
                <a href="#">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/saint.png' %}"
                        alt=""></a>
            </div>  
        </div>
        <div class="row1">
            <div class=" col-sm-6">
                <a href="#">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/sandt.jpg' %}"
                        alt=""></a>
            </div>  
            <div class=" col-sm-6">
                <a href="https://www.renaultsamsungm.com/2017/main/main.jsp">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/snmsung.png' %}"
                        alt=""></a>
            </div>  
            <div class=" col-sm-6">
                <a href="http://www.ys-kr.com/">
                    <img
                        class="img-fluid3 d-block mx-auto"
                        src="{% static 'mainsite/img/logos/youngsin.png' %}"
                        alt=""></a>
            </div>
        </div>
    </div>
    </marquee>
</section>
{% endblock %}