{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/gif/png" href="{%static 'mainsite/img/logo.png'%}">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link
            href="{% static 'mainsite/vendor/bootstrap/css/bootstrap.css' %}"
            rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link
            href="{% static 'mainsite/vendor/fontawesome-free/css/all.min.css' %}"
            rel="stylesheet"
            type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
            rel="stylesheet"
            type="text/css">
        <link
            href='https://fonts.googleapis.com/css?family=Kaushan+Script'
            rel='stylesheet'
            type='text/css'>
        <link
            href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
            rel='stylesheet'
            type='text/css'>
        <link
            href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
            rel='stylesheet'
            type='text/css'>

        <!-- Custom styles for this template -->
        <link href="{% static 'mainsite/css/agency.min.css' %}?after" rel="stylesheet">
        <link href="{% static 'mainsite/css/custom.css' %}?after" rel="stylesheet">

        <!-- plus link -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body id="page-top">
        <!-- Navigation -->
        {% if site == "main" %}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        {% else %}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #212529" id="mainNav">
        {% endif %}
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">
                    <img src="{%static 'mainsite/img/logo.png'%}" width="40em" height="40em" class="d-inline-block
                    align-top" alt="">
                    <strong>JANGGO</strong>
                </a>
                <button
                    class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        {% if site == "main" %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#Company">
                                <strong>COMPANY</strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#portfolio">
                                <strong>PRODUCT</strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">
                                <strong>ABOUT</strong>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#with">
                                <strong>CLIENT</strong>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#" onclick="history_back()">
                                <strong>BACK</strong>
                            </a>
                        </li>
                        {% endif %}
                        <!-- <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'hire_list' %}">
                                <strong>Apply</strong>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="{% url 'board' %}">
                                <strong>BOARD/Q&A</strong>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdownMenuLink"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <strong>LANGUAGE</strong>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'ko' %}">
                                    <strong>KOR</strong>
                                </a>
                                <a class="dropdown-item" href="{% url 'en' %}">
                                    <strong>ENG</strong>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        {% block header %}{% endblock %}

        <!-- Company -->
        {% block company %}{% endblock %}

        <!-- Product 나중에 사진 크기 조정하기-->
        {% block product %}{% endblock %}
        
        <!-- Contact -->

        <!-- About -->
        {% block about %}{% endblock %}

        <!-- Team -->

        <!-- with -->
        {% block with %}{% endblock %}

        <!-- Footer -->
        <footer class="fixed-bottom footer">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">
                          JANGGO COMAPNY
                        </span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons" >
                            <li class="list-inline-item" >
                                <a href="#" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">
                                    <i class="fa fa-envelope-o"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">
                                    <i class="	fa fa-map-marker"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo">
                                    <i class="fa fa-user"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            {% if site == "main" %}
                            <!-- 위로 바로가기 만들기 -->
                            <li class="list-inline-item">
                                <a class="nav-link js-scroll-trigger float-right" href="#page-top">
                                    <h5>▲TOP</h5>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
        </footer>
        {% block footer%}{% endblock %}
        <!-- Portfolio Modals -->
        <div class="modal fade"id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                       
                      <img src ="{%static 'mainsite/img/logo.png'%}"width="35rem" height="35rem"class="modal-title" id="exampleModalLabel1"> 
                      <h6 style="margin-top:0.5rem;">JANGGOSYSTEM</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                         <h6>Address : 22665  인천 서구 검단천로 356번길 43 <br>(43.Geomdancheon-ro 356beon-gil,Seo-gu, Incheon, Korea )<br><br>
                           Sales Tel : +82-31-499-7284 (Extension number 200) <br>Fax : +82-31-499-7287<br><br>
                           Sales-mail :  jangdsn@jgkorea.co.kr<br>
                         </h6>
                    </div>
                  </div>
                </div>
              </div>
            <!-- footer map modal map -->
            <div class="modal fade bd-example-modal-lg"id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <img src ="{%static 'mainsite/img/logo.png'%}"width="35rem" height="35rem"class="modal-title" id="exampleModalLabel2">
                    <h6 style="margin-top:0.5rem;">JANGGOSYSTEM</h6> 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                        <strong><h6>1. Incheon Air Port → 
                        Janggo System(34km)  Car 40 minute
                        <h6>
                        2. Kimpo Air Port → 
                        Janggo System(23km) Car 30 minute
                        </p></strong>
                    <img class="map_img"src="{% static 'mainsite/img/company/map.png'%}" width="100%" height="100%"alt="map">
                    <br><br>
                    <strong><h6>주 소 : 인천시 서구 검단천로 356번길 43 (오류동 1639-11번지)
                    </h6></strong>
                </div>
              </div>
            </div>
            </div>
            <!-- footer map modal with -->
            <div class="modal fade bd-example-modal-lg"id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                  <img src ="{%static 'mainsite/img/logo.png'%}"width="35rem" height="35rem"class="modal-title" id="exampleModalLabel3">
                  <h6 style="margin-top:0.5rem;">JANGGOSYSTEM</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                      <strong><h6>Major customers (foreign)</h6></strong>
                  <img class="map_img"src="{% static 'mainsite/img/company/with.png'%}" width="100%" height="100%"alt="map">
              </div>
            </div>
            </div>
            </div>
            

        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'mainsite/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'mainsite/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Plugin JavaScript -->
        <script src="{% static 'mainsite/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Contact form JavaScript -->
        <script src="{% static 'mainsite/js/jqBootstrapValidation.js' %}"></script>
        <script src="{% static 'mainsite/js/contact_me.js' %}"></script>
        
        <!-- Custom scripts for this template -->
        <script src="{% static 'mainsite/js/agency.min.js' %}"></script>
        
        <!-- navbar -->
        <script>
            // Collapse Navbar
            var navbarCollapse = function() {
                if ($("#mainNav").offset().top > 100) {
                $("#mainNav").addClass("navbar-shrink");
                } else {
                $("#mainNav").removeClass("navbar-shrink");
                }
            };
            // Collapse now if page is not at top
            navbarCollapse();
            // Collapse the navbar when page is scrolled
            $(window).scroll(navbarCollapse);
            
            function history_back(){
                history.back(-1) 
            }
        </script>

        <script>
   
        ( function( $ ) {
        $( document ).ready(function() {
        $('#cssmenu li.has-sub>a').on('click', function(){
		$(this).removeAttr('href');
		var element = $(this).parent('li');
		    if (element.hasClass('open')) {
			    element.removeClass('open');
			    element.find('li').removeClass('open');
			    element.find('ul').slideUp();
	    	}
		    else {
			element.addClass('open');
			element.children('ul').slideDown();
			element.siblings('li').children('ul').slideUp();
			element.siblings('li').removeClass('open');
			element.siblings('li').find('li').removeClass('open');
			element.siblings('li').find('ul').slideUp();
		    }
	    });
    });
    } )( jQuery );
    </script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script>
    setInterval(function(){
        $(".blinkEle").toggle();
    }, 250);
    </script>
 </body>
</html>