{% extends 'layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block header %}
<section class="justify-content-center" id='board'>
    <!--컨테이너에 board-size  css 적용-->
    <div class="container board-size" style="margin-top:2rem;">    
        <table class="board-font-size table table-bordered">
            <!--보드 큰 폰트 사이즈 조정 (board-font-size)-->
            <thead style="width:100%">
                <tr>
                    <th class="bg-light" scope="col">Title</th>
                    <td scope="col">{{board.title}}</td>
                </tr>
            </thead>
            <tbody style="width:100%">
                <tr>
                    <th class="bg-light" scope="row">Author</th>
                    <td scope='col'>{{board.author}}</td>
                </tr>
            </tbody>
        </table>
        <!-- 시간 폰트 사이즈 조정 및 grid적용 -->
        <div class="container-fluid date-font-size">
            <!--보드 작은 폰트 사이즈 조정 및 너비에 따른 줄바꿈 처리:grid (board-font-size2)-->
            <!-- <div class='row' style="margin-bottom:0.5rem; margin-right:20px">
                <div class="col-xs-3" style="margin:0rem; margin-right:20px"><b>Created_at :</b> {{board.created_at}} </div>
                <div class="col-xs-3" style="margin:0rem; margin-right:20px"><b>Updated_at :</b> {{board.updated_at}} </div>
            </div> -->
        </div>
        <!-- 여기까지 적용 -->
        <div class="card" style="width: 100%;">
            <div class="card-header" style="word-spacing:40px">
                <strong>Content</strong>
                <div class="board_button">
                {% if board.post_type == "question" %}
                <span class="badge badge-warning p-2">{{board.post_type}}</span>
                {% elif board.post_type == "complain" %}
                <span class="badge badge-danger p-2">{{board.post_type}}</span>
                {% else %}
                <span class="badge badge-success p-2">{{board.post_type}}</span>
                {% endif %}
            </div>
        </div>
            <div class="card-body board-font-size2">
                <p class="card-text">{{board.content|linebreaks}}</p>
                <!-- Button trigger modal -->
               <div class="board_button">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                    update
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2">
                    delete
                </button></div> 
            </div>
        </div>
        {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endif %}
              <!--       댓         글           창        -->
        <div class="card-header" style="word-spacing:40px; margin-bottom: 1rem">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter3">
                comment
            </button>
        </div>

<div class="card_under">
        {% if comments %}
            {%for comment in comments%}
            <!-- <div class="card" style="background-color:rgba(0, 0, 0, 0.03); text-align: justify;     padding: 0.75rem 1.25rem; width:100%;">
                <h><strong>{{comment.author }}</strong></h> <h style="font-size: 15px; margin-left: 50rm auto;">{{comment.posttime}}</h>
            </div> -->
          <hr>
            <div class="card" style="margin-bottom:1rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{comment.author }}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{comment.posttime}}</h6>
                      <p class="card-text">{{comment.content |linebreaks}}</p>
                    </div>
                  </div>
            <!-- <div class="card-body"style="margin-bottom:2rem;">
                <h>{{comment.content |linebreaks}}</h>
            </div> -->
            {%endfor%}
        {%endif%}
        </div>  
    </div>
</section>

<!-- Modal1 -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Update post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'check_password' %}">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{board.pk}}">
                <input type="hidden" name="url" value="board/new_board.html">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Delete post</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'check_password' %}">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{board.pk}}">
                <input type="hidden" name="url" value="board/">
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<!-- Modal3  댓글 추가-->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">posting comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form method="POST" action="{% url 'create_comments' %}">
                {% csrf_token %}
                <input type="hidden" name="pk" value="{{board.pk}}">
                <input type="hidden" name="url" value="board/">
                <div class="form-group">
                  <label for="exampleInputPassword1">comments</label>
                  <input type="hidden" name="pk" class="form-control" value="{{board.pk}}">
                  <input type="text" name="author" class="form-control" placeholder="작성자" style="margin-bottom:10px;">
                  <input type="text" name="email" class="form-control" placeholder="이메일" style="margin-bottom:10px;">
                  <textarea name="content" class="form-control" placeholder="댓글을 작성해 주세요." style="margin-bottom:10px;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>



{% endblock %}